body
{
  background-color: black;
}

.article
{
  text-decoration: none;
  color: white;
  transition: 0.7s;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.article:hover
{
  color: rgb(20, 135, 222);
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
.stars {
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.clouds
{
  overflow: hidden;
  position: relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.stars {
  background:#000 url(../images/stars.png) repeat-x;
  z-index:0;
}

.clouds{
  background:transparent url(../images/clouds3.png) repeat-x;
  z-index:5;
  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

.stan
{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.article-title
{
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.ano
{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.7s;
}

.ano:hover
{
  text-decoration: underline;
}

code
{
  color: white;
  background-color: rgba(90, 91, 92,0.4);
  font-family: 'Source Code Pro', monospace;
}