
/* = animations = */
@keyframes tardis-anim {
  0% {opacity: 1;}
  25% {opacity:0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0;}
}

body
{
  background-color: black;
}

.article
{
  text-decoration: none;
  color: white;
  transition: 0.7s;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.article:hover
{
  color: rgb(20, 135, 222);
}

.stars
{
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.main
{
  overflow: hidden;
  position: relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.stars
{
  background: url(../images/stars.png) repeat-y;
  z-index: -1;
}

.tardis-l
{
  overflow-x: hidden;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  animation-name: tardis-anim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tardis-l
{
  background: url(../images/tardis.png) no-repeat;
  z-index: -1;
}

.tardis-r
{
  overflow-x: hidden;
  position: absolute;
  top: 200px;
  left: 1550px;
  right: 0;
  bottom: 0;
  animation-name: tardis-anim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tardis-r
{
  background: url(../images/tardis.png) no-repeat;
  z-index: -1;
}

.stan
{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.article-title
{
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.ano
{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.7s;
}

.ano:hover
{
  text-decoration: underline;
}

code
{
  color: white;
  background-color: rgba(90, 91, 92,0.4);
  font-family: 'Source Code Pro', monospace;
}